{% extends 'base.html'%}


{% block content%}
<header class="masthead" style="background-image: url(https://images.wallpaperscraft.com/image/keyboard_backlight_red_136083_1280x720.jpg); background-size: cover; height: 100vh;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
            <span class="subheading"><i class="fas fa-quote-left"></i> <em>Welcome</em> <i class="fas fa-quote-right"></i></span>
            <h2>Add your favorite quote</h2>
        </div>
      </div>
    </div>
  </div>
 </header>



{% endblock %}